body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border: 1px solid black;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, button {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 50px;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}